<div>
    <div *ngIf="msgSent" class="success-message">
        <p>Message is successfully sent !</p>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name :</label>
            <input type="text" id="firstName" formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name :</label>
            <input type="text" id="lastName" formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="address">Address :</label>
            <input type="text" id="address" formControlName="address">
        </div>
        <div class="form-group">
            <label for="firstName">Your message :</label>
            <textarea id="message" formControlName="message"></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
