<div class="card">
    <div class="profile-section">
        <div class="profile-image">
            <img src="" alt="profile"/>
        </div>
    </div>

    <div class="profile-info">
        <h2>Rugero Carl Gauss</h2>
        <p>rugerocarlgauss@gmail.com</p>
        <p>Paris, France</p>
    </div>

    <div class="friends-section">
        <h3>Amis</h3>
        <div class="friends-list">
            <div class="friend-card">
                <img src="" alt="" />
                <p>Ami 1</p>
            </div>
            <div class="friend-card">
                <img src="" alt="" />
                <p>Ami 2</p>
            </div>
            <div class="friend-card">
                <img src="" alt="" />
                <p>Ami 3</p>
            </div>
        </div>
    </div>
</div>